<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--			No favicon for now
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
-->
        <title>Portail</title>
    </head>

	<body onload=openTab("{{ current_tab }}")>

        <div class="container-fluid"><div class="row">
                <div class="row">
                    <h1 class="display-3">Portail du Club Jeux</h1>
                </div>
		<div class="clearfix">
                         <ul class="nav">
                             <li class="nav-item">
                                 <p class="nav-link">
                                 <a href="/?tab=Liens">Liens</a>
                                 </p>
                             </li>
                             <li class="nav-item">
                                 <p class="nav-link">
                                 <a href="/?tab=Minecraft">Minecraft</a>
                                 </p>
                             </li>
                             <li class="nav-item">
                                 <p class="nav-link">
				 <a href="/?tab=Jukebox">Jukebox</a>
				 </p>
                             </li>
                             <li class="nav-item">
                                 <p class="nav-link">
                                 <a href="/?tab=Inspirobot">Inspirobot</a>
                                 </p>
                             </li>
                         </ul>
                </div>
		<div class='content'>
		{% include 'liens.html' %}
		{% include 'jukebox.html' %}
		{% include 'minecraft.html' %}
		{% include 'inspirobot.html' %}
		</div>
            </div></div>


            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script src="{{ url_for('static', filename='scripts/opentab.js') }}"></script>
    </body>
</html>
