<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--			No favicon for now
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
-->
        <title>Portail</title>
    </head>

	<body onload=openTab("{{ current_tab }}")>

        <div class="container-fluid"><div class="row">
                <div class="col-xl-8">
                    <h1 class="display-3">Portail du Club Jeux</h1>
                </div>
		<nav class="w3-bar w3-black">
			<a href="/?tab=Liens">Liens</a>
			<a href="/?tab=Jukebox">Jukebox</a>
			<a href="/?tab=Minecraft">Minecraft</a>
		</nav> 
		<div id="Liens" class="tab">
			  <h2>Liens vers les services du CJ</h2>
			  <h3><a href="http://{{ url_name(request.host) }}:8080/">Jukebox</a></h3>
			  <h3><a href="http://{{ url_name(request.host) }}:80/phpmyadmin">BDD</a></h3>
			  <p>La base de données des livres, jeux, etc du CJ.</p>
		</div>
		{% include 'jukebox.html' %}
		{% include 'minecraft.html' %}
            </div></div>


            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	    <script src="{{ url_for('static', filename='scripts/opentab.js') }}"></script>
    </body>
</html>
