nav {
    display:block;
}

nav a {
    display:inline-block;
    border:1px solid grey;
    padding 1px;
}

.content {
    align:top;
}

.icon {
    height: 20px;
    display: block;
}

.centered {
	margin: auto
}

