{% extends "page_template.html" %}

{% block content %}
<div class="container">
    <div class="row m-1">
        <p>
            Bienvenue sur le portail du Club Jeux ! Il s'agit d'une interface prévue pour relier les différents
            services entre eux, et pour expliquer leur fonctionnement si besoin est !
        </p>
        <p>
            Le code source est disponible <a href="https://github.com/khatharsis42/portail-cj-mk2">ici</a>.
        </p>
        <p>
            N'hésitez pas à parler des fonctionnalités que vous aimeriez voir avec le respo Jukebox/PC actuel !
        </p>
    </div>
</div>
{% endblock %}
